<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BakingDom - Bring your cake</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-branch" href="#">
                    <img class="img-logo" src="~/Images/logo.png" width="80px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto py-4 py-md-0">
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Home</a>
                            <div class="dropdown-menu">
                                Index
                            </div>

                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Manage</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">Manage role</a>
                                <a class="dropdown-item">Product Type</a>
                                <a class="dropdown-item">Product</a>
                            </div>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#">Agency</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Services</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <a class="nav-link" href="#">Journal</a>
                        </li>
                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                            <img src="~/Images/iconAccount.png"  class="nav-link dropdown-toggle" 
                                 data-toggle="dropdown" role="img" aria-haspopup="true" aria-expanded="false" />
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("admin"))
                                {
                        <div class="dropdown-menu">
                            @Html.ActionLink("Manage Role", "ListRoles", "Administration", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Product Type", "Index", "ProductTypes", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Product", "Index", "Products", new { }, new { @class = "dropdown-item" })
                        </div>
                                }
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Cart</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            }
                        <div class="dropdown-menu">
                            <b>New user?</b>
                            <p>Come With Us</p>
                            @Html.ActionLink("Login", "Account", "Login", new { }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Register", "Account", "Sign Up", new { }, new { @class = "dropdown-item" })
                        </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
                                

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="footer-col-1">
                            <h3>Download Our App</h3>
                            <p>Download App for android and iOs.</p>
                            <div>
                                <img src="~/Images/play-store.png" />
                                <img src="~/Images/app-store.png" />
                            </div>
                        </div>

                        <div class="footer-col-2">
                            <div class="app-logo">
                                <img src="~/Images/logo.png" width="20" />
                            </div>

                            <p>Our purpose Is To Sustainably make the Pleasure and BeneFit of Sports Accessible to the Many.</p>

                        </div>
                        <div class="footer-col-3">
                            <h3>Useful Links</h3>
                            <p>Coupons</p>
                            <p>Blog Post</p>
                            <p>Return Policy</p>
                            <p>Become Affiliate</p>
                        </div>
                        <div class="footer-col-4">
                            <h3>Follow Us</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/quynhthu1911">Facebook </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/quynhthu.qt/">Instagram </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/Quoc.Son.QS/">Team Leader </a>
                                </li>
                            </ul>



                        </div>
                    </div>
                    <hr />
                    <p3 class="copyright">Copyright 2021 - QuocPhong</p3>
                </div>
            </div>
        </footer>
    </div>

    
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script src="~/Scripts/bootstrap-input-spinner.js"></script>
<script>
        $("input[type='number']").inputSpinner({ buttonsOnly: true })
        var $changedInput = $(".changedInput")
        var $valueOnInput = $("#valueOnInput")
        var $valueOnChange = $("#valueOnChange")
        var $minus = $(".btn-minus")
        var $plus = $(".btn-plus")
        $changedInput.on("input", function (event) {
            //$valueOnInput.html($(event.target).val())
            // or $valueOnInput.html(event.target.value) // in vanilla js
            // or $valueOnInput.html($changedInput.val())

        })
        $changedInput.on("change", function (event) {
            $valueOnChange.html($(event.target).val())
            //$(this).attr("data-id");
            //var url = $(this).attr("data-id");
            //window.location.href = url;
            //$minus = $(".btn-minus")
        })
        $minus.on("click", function (event) {
            var url = $changedInput.attr("data-link") + "&isMinus=true";
            if ($(this).val() == 0) {
                url = "@Url.Action("CartDelete", "Cart", new { productId = "__id__"})"
                window.location.href = url.replace('__id__', $changedInput.attr("data-id"))
            } else {
                window.location.href = url;
            }
        })

        $plus.on("click", function (event) {
            var url = $changedInput.attr("data-link");
            window.location.href = url;
        })
</script>
