<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BakingDom - Bring your cake</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
    <nav class="start-header container-fluid sticky-top navbar-expand-md">
        <nav class="header-navbar ">
            <div class="form-inline mr-auto row" target="_self" style="justify-content: space-evenly">
                <a class="navbar-branch" href="#" style="justify-self:start">
                    <img src="~/Images/logo.png" height="80">
                </a>
                <div class="form-group navbar-collapse">
                    <input class="form-control search-field" type="search" name="search" id="search-field">
                    <label for="search-field">
                        <i class="fa fa-search"></i>
                    </label>

                </div>
                @if (User.IsInRole("admin"))
                {
                    <div class="link-action">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link active" })
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.ActionLink("Product Type", "Index", "ProductTypes", new { }, new { @class = "nav-link active" })
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.ActionLink("Product", "Index", "Products", new { }, new { @class = "nav-link active" })
                            </li>
                        </ul>
                    </div>
                    <div class="link-action">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.Partial("../Cart/CartPartial")
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="link-action">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.Partial("_LoginPartial")
                            </li>
                            
                        </ul>
                    </div>
                    
                }


                @*<div class="dropdown">
            <div class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @Html.Partial("_LoginPartial")
            </div>
        </div>*@

                @*<div class="link-action">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                </li>
            </ul>
        </div>*@

            </div>
        </nav>
    </nav>
    @*
            @if (User.Identity != null)
                                {
                                    if (User.IsInRole("admin"))
                                    {
                                        @Html.ActionLink("Manage Role", "ListRoles", "Administration", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Product Type", "Index", "ProductTypes", new { }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Product", "Index", "Products", new { }, new { @class = "dropdown-item" })
                                    }
                                    else
                                    {
                                        <p class="dropdown-item-text">UnAdmin Role</p>
                                        <a clas>Give Feedback</a>
                                        <a class="dropdown-item" role="presentation" href="#">
                                            <p>Giỏ hàng</p>
                                            <img src="~/Images/shopping-cart.png" />
                                        </a>
                                        @Html.ActionLink("Đăng xuất", "LogOff", "Account", new { }, new { @class = "dropdown-item" })

                                    }

                                }
                                else
                                {
                                    <p class="dropdown-item-text">UnAdmin Role</p>
                                }

            <a class="dropdown-item" role="presentation" href="#">First Item</a>
        <a class="dropdown-item" role="presentation" href="#">Second Item</a>
        <a class="dropdown-item" role="presentation" href="#">Third Item</a>*@

    @*@Html.ActionLink("Manage Role", "ListRoles", "Administration", new { }, new { @class = "dropdown-item" })
        @Html.ActionLink("Product Type", "Index", "ProductTypes", new { }, new { @class = "dropdown-item" })
        @Html.ActionLink("Product", "Index", "Products", new { }, new { @class = "dropdown-item" })*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="footer-col-1">
                            <h3>Download Our App</h3>
                            <p>Download App for android and iOs.</p>
                            <div>
                                <img src="~/Images/play-store.png" />
                                <img src="~/Images/app-store.png" />
                            </div>
                        </div>

                        <div class="footer-col-2">
                            <div class="app-logo">
                                <img src="~/Images/logo.png" width="20" />
                            </div>

                            <p>Our purpose Is To Sustainably make the Pleasure and BeneFit of Sports Accessible to the Many.</p>

                        </div>
                        <div class="footer-col-3">
                            <h3>Useful Links</h3>
                            <p>Coupons</p>
                            <p>Blog Post</p>
                            <p>Return Policy</p>
                            <p>Become Affiliate</p>
                        </div>
                        <div class="footer-col-4">
                            <h3>Follow Us</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/quynhthu1911">Facebook </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/quynhthu.qt/">Instagram </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/Quoc.Son.QS/">Team Leader </a>
                                </li>
                            </ul>



                        </div>
                    </div>
                    <hr />
                    <p3 class="copyright">Copyright 2021 - QuocPhong</p3>
                </div>
            </div>
        </footer>
    </div>


</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script src="~/Scripts/bootstrap-input-spinner.js"></script>
<script>
        $("input[type='number']").inputSpinner({ buttonsOnly: true })
        var $changedInput = $(".changedInput")
        var $valueOnInput = $("#valueOnInput")
        var $valueOnChange = $("#valueOnChange")
        var $minus = $(".btn-minus")
        var $plus = $(".btn-plus")
        $changedInput.on("input", function (event) {
            //$valueOnInput.html($(event.target).val())
            // or $valueOnInput.html(event.target.value) // in vanilla js
            // or $valueOnInput.html($changedInput.val())

        })
        $changedInput.on("change", function (event) {
            $valueOnChange.html($(event.target).val())
            //$(this).attr("data-id");
            //var url = $(this).attr("data-id");
            //window.location.href = url;
            //$minus = $(".btn-minus")
        })
        $minus.on("click", function (event) {
            var url = $changedInput.attr("data-link") + "&isMinus=true";
            if ($(this).val() == 0) {
                url = "@Url.Action("CartDelete", "Cart", new { productId = "__id__"})"
                window.location.href = url.replace('__id__', $changedInput.attr("data-id"))
            } else {
                window.location.href = url;
            }
        })

        $plus.on("click", function (event) {
            var url = $changedInput.attr("data-link");
            window.location.href = url;
        })
</script>
