<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BakingDom - Bring your cake</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body class="body-content">
    <nav class="start-header container-fluid sticky-top navbar-expand-md" style="background-color:aliceblue">
        <nav class="header-navbar ">
            <div class="form-inline mr-auto row" target="_self" style="justify-content: space-evenly">
                <a class="navbar-branch" href="~/Home/Index" style="justify-self:start">

                    <img src="~/Images/logo.png" height="80" />

                </a>
                <div class="form-group navbar-collapse">
                    <input class="form-control search-field" type="search" name="search" id="search-field">
                    <button style=" border: 1px solid #79737357;" type="submit" class="btn filled">Search<i class="et-icon et-zoom"></i></button>
                    @*<label for="search-field">
                           <i class="fa fa-search"></i>
                        </label>*@

                </div>
                @if (User.IsInRole("admin"))
                {
                    <div class="link-action">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link active" })
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.ActionLink("Product Type", "Index", "ProductTypes", new { }, new { @class = "nav-link active" })
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.ActionLink("Product", "Index", "Products", new { }, new { @class = "nav-link active" })
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.ActionLink("Shipping confirm", "OrderConfirm", "Order", new { }, new { @class = "nav-link active" })
                            </li>
                        </ul>
                    </div>
                    <div class="link-action">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a class="nav-link active">Account</a>
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @Html.Partial("_LoginPartial")
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.Partial("../Cart/CartPartial")
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="link-action">
                        <ul class="nav navbar-nav navbar-right">
                            @if (Request.IsAuthenticated)
                            {
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <a class="nav-link active">Account</a>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </li>
                            }
                            else
                            {
                                @Html.Partial("_LoginPartial")
                            }
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                @Html.Partial("../Cart/CartPartial")
                            </li>
                        </ul>
                    </div>

                }



            </div>
        </nav>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <div class="container-fluid">

                    <div class="row" style="justify-content: space-evenly">

                        <div class="footer-col-1">
                            <h3>Download Our App</h3>
                            <p>Download App for android and iOs.</p>
                            <div>
                                <img src="~/Images/play-store.png" />
                                <img src="~/Images/app-store.png" />
                            </div>
                        </div>

                        <div class="footer-col-2">
                            <div class="app-logo">
                                <img src="~/Images/logo.png" width="20" />
                            </div>

                            <p>Our purpose Is To Sustainably make the Pleasure and BeneFit of Sports Accessible to the Many.</p>

                        </div>
                        <div class="footer-col-3">
                            <h3>Useful Links</h3>
                            <p>Coupons</p>
                            <p>Blog Post</p>
                            <p>Return Policy</p>
                            <p>Become Affiliate</p>
                        </div>
                        <div class="footer-col-4">
                            <h3>Follow Us</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/quynhthu1911">Facebook </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/quynhthu.qt/">Instagram </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/Quoc.Son.QS/">Team Leader </a>
                                </li>
                            </ul>



                        </div>
                    </div>
                    <hr />
                    <p3 class="copyright">Copyright 2021 - QuocPhong</p3>
                </div>
            </div>
        </footer>
    </div>


</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script src="~/Scripts/bootstrap-input-spinner.js"></script>
<script>
    $(document).ready(function () {
        $("input[type='number']").inputSpinner({ buttonsOnly: true })
        var $changedInput = $(".changedInput")
        var $valueOnInput = $("#valueOnInput")
        var $valueOnChange = $("#valueOnChange")
        $changedInput.on("input", function (event) {
        });
        $changedInput.on("change", function (event) {
            $valueOnChange.html($(event.target).val())
            var url = $(this).attr("data-link");
            var id = $(this).attr("data-id");
            $('.btn-minus').click(function (e) {
                url = url + "&isMinus=true";
                var a = $(event.target).val();
                if (a == 0) {
                    url = "@Url.Action("CartDelete", "Cart", new { productId = "__id__"})"
                    window.location.href = url.replace('__id__', id)
                } else {
                    console.log(url);
                    window.location.href = url;
                }
            });
             $('.btn-plus').click(function (e) {
                window.location.href = url;
            });
        });
        @*$('.btn-minus').on("click", function (event) {
            var getParent = $(this).parents();
            var url = getParent[2].children[0].getAttribute("data-link") + "&isMinus=true";
            console.log(getParent.find(".changedInput").val())
            if ($(this).val() == 0) {
                url = "@Url.Action("CartDelete", "Cart", new { productId = "__id__"})"
                window.location.href = url.replace('__id__', $changedInput.attr("data-id"))
            } else {
                window.location.href = url;
            }
            //var a = $(this).parents();
            //alert(a[2].childElementCount);
        })
        $(".btn-plus").on("click", function (event) {
            var url = $changedInput.attr("data-link");
            window.location.href = url;
        })*@
    })
</script>