@model IEnumerable<MicroWaveFood.Models.Order>
@{
    ViewBag.Title = "History";
}

<h2>Lịch sử mua hàng</h2>
<div class="container">
    <div class="history-wrapper">
        <div class="history-nav row shadow p-3 mb-5 bg-white rounded">
            <div class="col py-3 nav-item text-center">
                <a class="nav-link active" href="@Url.Action("History", "Order")">Tất cả</a>
            </div>
            <div class="col py-3 nav-item text-center">
                <a class="nav-link active" href="@Url.Action("History", "Order", new { type = 1})">Đang giao</a>
            </div>
            <div class="col py-3 nav-item text-center">
                <a class="nav-link active" href="@Url.Action("History", "Order", new { type = 2})">Đã giao</a>
            </div>
        </div>
        <div class="history-detail">
            @foreach (var item in Model)
            {
                <div class="shadow p-3 mb-5 bg-white rounded" style="margin-left:-15px; margin-right:-15px;">
                    <div class="row">
                        @foreach (var subItem in item.Bills)
                        {
                            <div class="product-detail-history row col-10 ">
                                <div class="product-image-history">
                                    <img class="img-detail-history m-2" src="@subItem.Product.Image" />
                                </div>
                                <div class="product-info-history">
                                    <div class="product-name-history m-2">
                                        <a>@subItem.Product.ProductName</a>
                                    </div>
                                    <div class="product-amount-history m-2">
                                        <p>Số lượng: @subItem.Amount</p>
                                    </div>
                                </div>
                            </div>
                            <div class="product-price-history col">
                                <p>@(@subItem.Product.Price*@subItem.Amount) <span>đ</span></p>
                            </div>
                        }
                    </div>
                    <hr />
                    <div class="history-total-price my-3">
                        @if (item.IsDelivered == true)
                        {
                            <p class="text-success">Đã giao</p>
                        }
                        else
                        {
                            <p class="text-warning">Đang giao</p>
                        }

                        <p>Tổng tiền <span>@item.Total</span></p>
                    </div>
                    <div class="history-button">
                        @if (item.IsDelivered == true)
                        {
                            <form action="@Url.Action("Comment", "Order", new { orderId = item.OrderId })", method="post">
                                <button type="submit" class="button-comment-order">Đánh giá</button>
                            </form>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
