@model MicroWaveFood.ViewModels.UserInfoViewModel

@{
}

<h2>Thông tin tài khoản</h2>
<h3>@ViewBag.ErrorMessage</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="Province" name="Province" onchange="changeFunction();">
                    <option value="" selected></option>
                </select>
                <input class="billing_address_1" name="Province" type="hidden" value="">
                @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.District, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="District" name="District" onchange="districtChangeFunction();">
                    <option value="" selected>Quận Huyện</option>
                </select>
                <input class="billing_address_2" name="District" type="hidden" value="">
                @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guild, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="Guild" name="Guild" aria-placeholder="Quận Huyện">
                    <option value="" selected>Phường xã</option>
                </select>
                @Html.ValidationMessageFor(model => model.Guild, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        
       
        



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            var province = document.getElementById("Province");
            window.onload = function () {
                $.ajax({
                    url: "https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/province",
                    headers: {
                        "token": "132c8a23-e938-11eb-9388-d6e0030cbbb7",
                    },
                    type: "GET",
                    dataType: 'json',
                    success: function (response) {
                        console.log('success: ' + response.code);
                        var str = "<option selected>Tỉnh thành</option> ";
                        for (var i = 0; i < response.data.length; i++) {
                            console.log(response.data[i].ProvinceName);
                            str = str + "<option class='provinceId' data-province='" + response.data[i].ProvinceID + "'>" + response.data[i].ProvinceName + "</option>";
                        }
                        province.innerHTML = str;
                    }
                });
            };
        })

        function changeFunction() {
            var selectBox = document.getElementById("Province");
            var selectedValue = selectBox.options[selectBox.selectedIndex].getAttribute('data-province');
            var district = document.getElementById("District");
            $.ajax({
                url: "https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/district",
                headers: {
                    'token': '132c8a23-e938-11eb-9388-d6e0030cbbb7',
                    'Content-type': 'application/json'
                },
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    var str = "<option selected>Quận Huyện</option>";
                    for (var i = 0; i < response.data.length; i++) {
                        if (response.data[i].ProvinceID == selectedValue) {
                            str = str + "<option class='districtId' data-district='" + response.data[i].DistrictID + "'>" + response.data[i].DistrictName + "</option>";
                        }
                    }
                    district.innerHTML = str;
                }
            });
        };

        function districtChangeFunction(){
            var selectBox = document.getElementById("District");
            var selectedValue = selectBox.options[selectBox.selectedIndex].getAttribute('data-district');
            var guild = document.getElementById("Guild");
            $.ajax({
                url: "https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/ward?district_id=" + selectedValue,
                headers: {
                    'token': '132c8a23-e938-11eb-9388-d6e0030cbbb7',
                    'Content-type': 'application/json'
                },
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    var str = "<option selected>Phường xã</option>";
                    console.log(response.data.length);
                    for (var i = 0; i < response.data.length; i++) {
                        console.log(response.data[i].WardName);
                        str = str + "<option class='guildId' data-guild='" + response.data[i].WardCode + "'>" + response.data[i].WardName + "</option>";
                    }
                    console.log(str);
                    guild.innerHTML = str;
                }
            });
        }
    </script>
}