

<nav class="navbar-first container container-fluid nav" style="justify-content: space-evenly!important">
    @foreach (var i in Model.GroupTypes)
    {
        if (i.ToString() == "Đồ làm bánh")
        {
            <div class="dropdown-first">
                <button class="dropbtn">
                    @i.ToString()
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" style="z-index:10;background-color:ghostwhite; vertical-align:bottom">

                    <div class="row">
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Nguyên liệu làm bánh</a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Nguyên liệu làm bánh")
                                    {
                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Làm bánh</a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Dụng cụ làm bánh")
                                    {

                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>

                                    }
                                }
                            </ul>
                        </div>
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Khuôn khay</a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Khuôn khay làm bánh")
                                    {

                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>

                                    }
                                }
                            </ul>
                        </div>
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Túi, hộp, cốc, lọ</a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Túi,hộp,cốc,lọ")
                                    {

                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        }
        else if (i.ToString() == "Đồ nấu ăn")
        {
            <div class="dropdown-first">
                <button class="dropbtn">
                    @i.ToString()
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" style="z-index: 10; background-color: ghostwhite; vertical-align: bottom">

                    <div class="row">
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Món Á</a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Món Á")
                                    {

                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>

                                    }
                                }
                            </ul>
                        </div>
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Món Âu</a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Món Âu")
                                    {

                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>

                                    }
                                }
                            </ul>
                        </div>
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Dụng cụ nấu ăn</a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Dụng cụ nấu ăn")
                                    {

                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>

                                    }
                                }
                            </ul>
                        </div>
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Nguyên liệu lẩu nướng</a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Nguyên liệu lẩu nướng")
                                    {

                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        }
        else if (i.ToString() == "Đồ pha chế")
        {
            <div class="dropdown-first">
                <button class="dropbtn">
                    @i.ToString()
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" style="z-index: 10; background-color: ghostwhite; vertical-align: bottom ">

                    <div class="row">
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Nguyên liệu pha chế</a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Nguyên liệu pha chế")
                                    {

                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="col">
                            <a class="nav-link ml-1" href="#">Dụng cụ pha chế </a>
                            <ul class="ml-1" style="list-style-type:none;">
                                @foreach (var item in Model.ProductTypes)
                                {
                                    if (item.GroupType == "Dụng cụ pha chế ")
                                    {

                                        <li class="my-2">
                                            <a href="#">@item.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        }

    }

</nav>

<div class="row">
    <div class="col-12 text-center">
        <h4 class="hp-category-title title">Bán chạy nhất</h4>
    </div>
</div>
@*Carousel*@
<div class="row home-page-categories">

    <div class="row">
        <div class="col-sm-12">
            <div class="swiper-entry">
                <div class="swiper-container carousel-area products-slider slider-9856 swiper-swiper-unique-id-0 initialized swiper-container-horizontal second-initialized" data-breakpoints="1" data-xs-slides="2" data-sm-slides="4" data-md-slides="5" data-lt-slides="6" data-slides-per-view="6" data-slides-per-group="1" data-autoplay="" data-speed="300" id="swiper-unique-id-0">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.BestSellerList)
                        {
                            <div class="swiper-slide slide-item product-slide -slide swiper-slide-visible swiper-slide-active" style="width: 250px;">

                                <div class="et_cart-on hide-hover-on-mobile product-hover-swap product-view-mask3 view-color-white product type-product post-245604 status-publish instock product_cat-nguyen-lieu-lava product_cat-cheese-pho-mai product_tag-khach-kinh-doanh product_tag-nguyen-lieu-lam-banh-trung-thu-lava has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
                                    <div class="content-product ">
                                        <div class="sale-wrapper">
                                            <span class="corner-text"></span>
                                        </div>
                                        <div class="col pt-5">
                                            <div class="productImg">
                                                <img class="img-index" src="@item.Image" />
                                            </div>
                                            <div class="product-content-container">
                                                <div class="productContent">
                                                    <div>
                                                        <div class="product-content-container">
                                                            <div class="container text-center mt-1">
                                                                <a data-product-id="@item.ProductId" class="btn btn-primary button-index">Thêm vào giỏ hàng</a>
                                                            </div>
                                                            <div class="productContent">
                                                                <div class="product-name">
                                                                    <p style="text-align:center">@item.ProductName</p>
                                                                </div>
                                                                <div class="product-price">
                                                                    <p style="text-align:center">@item.Price</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .content-product -->

                                </div>

                            </div>
                        }


                    </div>
                    <!-- slider wrapper-->



                    <div class="swiper-pagination etheme-css swiper-pagination-swiper-unique-id-0 swiper-pagination-clickable swiper-pagination-bullets" data-css="">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>


                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>


                        <div class="swiper-scrollbar"></div>
                    </div>

                    @*<div class="swiper-pagination etheme-css swiper-pagination-swiper-unique-id-0 swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>

                        </div>*@

                </div><!-- slider container-->
                @*<div class="swiper-button-prev swiper-custom-left swiper-button-prev-swiper-unique-id-0 swiper-button-disabled"></div>
                    <div class="swiper-button-next swiper-custom-right swiper-button-next-swiper-unique-id-0"></div>*@
            </div>
            <div class="clear"></div><!-- slider-entry -->
        </div>
    </div>
</div>


@*Script*@
<script>
    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'vertical',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })


    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }, pagination: {
            el: '.swiper-pagination',
        },

    });

</script>

@*End carousel*@
<h4 class="title">
    Các Mặt hàng
</h4>
<div class="container">
    <div class="row">
        @foreach (var item in Model.ListRandom)
        {
            <div class="col pt-5">
                <div class="productImg" style="position:relative">
                    @if (item.SaleId != null && item.Sale.From <= DateTime.Now && item.Sale.To >= DateTime.Now)
                    {

                        <div class="sale">

                            <img src="~/Images/discount.png" />
                        </div>
                        <div class="discount">
                            <p style="text-align:right">- @item.Sale.SaleRate%</p>
                        </div>
                    }
                    <img class="img-index" src="@item.Image" />
                </div>
                <div class="product-content-container">
                    <div class="productContent">
                        <div>
                            <div class="product-content-container">
                                <div class="container text-center mt-1">
                                    <a data-product-id="@item.ProductId" class="btn btn-primary button-index">Thêm vào giỏ hàng</a>
                                </div>
                                <div class="productContent">
                                    <div class="product-name">
                                        <p style="text-align:center">@item.ProductName</p>
                                    </div>
                                    <div class="product-price">
                                        @if (item.SaleId != null && item.Sale.From <= DateTime.Now && item.Sale.To >= DateTime.Now)
                                        {
                                            <p style="text-align:center;"><del>@item.Price</del> <span style="color:red;">@(item.Price - (item.Price * item.Sale.SaleRate / 100)) đ</span></p>
                                        }
                                        else
                                        {
                                            <p style="text-align:center">@item.Price</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="container-fluid banner">
    <h2 class="title" style="margin-top: 10px">
        Bankingdom - Đồ Làm Bánh - Nấu Ăn - Pha Chế
    </h2>
    <div class="container-content">
        <div class="col-3">
            <div class="flex-grid-third1">
                <a href="@Url.Action("ListProduct","Products",new {@str = "Nguyên liệu lẩu nướng" })" target="_blank">
                    <img style="width: 99%" src="~/Images/lAU.jpg" />
                </a>
                <a href="@Url.Action("ListProduct","Products",new {@str = "Nguyên liệu làm bánh" })" target="_blank">

                    <img style="width: 99%" src="~/Images/Bo-anchor-2.jpg" />                                   
    @*AI đó test thử đêi*@
     @*Test rồi, cái view trông chán đời vcl*@
                </a>
                <a href="@Url.Action("ListProduct","Products",new {@str = "Nguyên liệu pha chế" })" target="_blank">
                    <img style="width: 99%" src="~/Images/Tran-chau.jpg" />
                </a>


            </div>
            <div class="flex-grid-third2">
                <div class="img1">
                    <a href="@Url.Action("ListProduct","Products",new {@str = "Nguyên liệu pha chế" })" target="_blank">
                        <img style="width: 100%; height: 100%" src="~/Images/Banner-anchor-1.jpg" />
                    </a>

                </div>
                <div class="img2">
                    <a href="@Url.Action("ListSale","Products")" target="_blank">
                        <img style="width: 99%" src="~/Images/Anh-vuong.jpg" />
                    </a>

                </div>
            </div>
        </div>
        <div>
            <div class="col-1">
                <a href="@Url.Action("ListProduct","Products",new {@str = "Nguyên liệu làm bánh" })" target="_blank">
                    <img style="width: 65%" src="~/Images/Banner-whip-2.jpg" />
                </a>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model.ProductList)
        {
            <div class="col-md-3 pt-5">
                <div class="productImg" style="position:relative">
                    @if (item.SaleId != null && item.Sale.From <= DateTime.Now && item.Sale.To >= DateTime.Now)
                    {

                        <div class="sale">

                            <img src="~/Images/discount.png" />
                        </div>
                        <div class="discount">
                            <p style="text-align:right">- @item.Sale.SaleRate%</p>
                        </div>
                    }
                    <img class="img-index" src="@item.Image" />
                </div>
                <div class="product-content-container">
                    <div class="productContent">
                        <div>
                            <div class="product-content-container">
                                <div class="container text-center mt-1">
                                    <a data-product-id="@item.ProductId" class="btn btn-primary button-index">Thêm vào giỏ hàng</a>
                                </div>
                                <div class="productContent">
                                    <div class="product-name">
                                        <p style="text-align:center">@item.ProductName</p>
                                    </div>
                                    <div class="product-price">
                                        @if (item.SaleId != null && item.Sale.From <= DateTime.Now && item.Sale.To >= DateTime.Now)
                                        {
                                            <p style="text-align:center;"><del>@item.Price</del> <span style="color:red;">@(item.Price - (item.Price * item.Sale.SaleRate / 100)) đ</span></p>
                                        }
                                        else
                                        {
                                            <p style="text-align:center">@item.Price</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.button-index').on("click", function (e) {
                var id = $(e.target);
                $.post("/api/Cart/Add", { productId: id.attr("data-product-id") })
                    .done(function () {
                        var value = parseInt($(".notify-number").text(), 10) + 1;
                        $('.notify-number').text(value);
                    })
                    .fail(function () {
                        bootbox.alert("Something is wrong!");
                    })
            })
        })

        $('.dropdown-first').hover(function () {
            $(this).find('.dropdown-content').fadeIn(500);
        }, function () {
            $(this).find('.dropdown-content').fadeOut(0);
        });
    </script>
}