@model MicroWaveFood.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>@ViewBag.count</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

@*Carousel*@
<div class="row row-best-seller">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="hp-category-title">Bán chạy nhất</h2>
        </div>
    </div>
    <div class="row" style="margin-left: -15px; margin-right: -15px; padding: 0">
        <div class="col-sm-12">
            <div class="swiper-entry">
                <div class="swiper-container carousel-area products-slider slider-5768 swiper-swiper-unique-id-0 initialized swiper-container-horizontal second-initialized">
                    <div class="slider-wraper">
                        <div class="swiper-slide slide-item product-slide -slide swiper-slide-visible swiper-slide-active" style="width: 257.167px;">
                            <div class="swiper-slide slide-item product-slide -slide swiper-slide-visible" style="width: 257.167px;"></div>
                            <div class="view-color-white status-publish purchasable product-type-simple">
                                <div class="sale-wrapper ">
                                    <span class="onsale">Sale</span>
                                </div>
                                <div class="sale-wrapper">
                                    <span class="corner-text"></span>
                                </div>
                                <div class="product-image-wrapper hover-effect-swap"></div>
                                <div></div>
                            </div>
                            <div class="swiper-slide slide-item product-slide -slide swiper-slide-visible" style="width: 257.167px;"></div>
                            
                            <div class="swiper-slide slide-item product-slide -slide swiper-slide-visible" style="width: 257.167px;"></div>
                            
                            <div class="swiper-slide slide-item product-slide -slide swiper-slide-visible" style="width: 257.167px;"></div>
                        </div>
                    </div>
                    <div class="swiper-pagination etheme-css swiper-pagination-swiper-unique-id-0 swiper-pagination-clickable swiper-pagination-bullets" data-css="">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                    </div>
                </div>
                <div class="swiper-button-prev swiper-custom-left swiper-button-prev-swiper-unique-id-0 swiper-button-disabled"></div>
                <div class="swiper-button-next swiper-custom-right swiper-button-next-swiper-unique-id-0"></div>
            </div>
            
        </div>

    </div>
    
</div>

@*End carousel*@
<h4 class="title">
    Explore Our Store
</h4>
<div class="container">
    <div class="row">
        @foreach (var item in Model.ProductList)
        {
            <div class="col pt-5">
                <div class="productImg">
                    <img src="@item.Image" width="100" height="120" />
                </div>
                <div class="productContent">
                    <div>
                        <p style="text-align:center">@item.ProductName</p>
                    </div>
                    <div>
                        <p style="text-align:center">@item.Price</p>
                    </div>
                </div>
                <a href="@Url.Action("AddToCart", "Cart", new { @productId = item.ProductId, @strUrl = Request.Url.ToString() })" class="btn btn-primary">Thêm vào giỏ hàng</a>
            </div>
        }
    </div>
</div>


<div class="container-fluid banner">
    <h2 class="title" style="margin-top: 10px">
        Backingdom - Đồ Làm Bánh - Nấu Ăn - Pha Chế
    </h2>
    <div class="container-content">
        <div class="col-3">
            <div class="flex-grid-third1">

                <img src="~/Images/lAU.jpg" />


                <img src="~/Images/Bo-anchor-2.jpg" />


                <img src="~/Images/Tran-chau.jpg" />

            </div>
            <div class="flex-grid-third2">
                <div class="img1">
                    <img src="~/Images/Banner-anchor-1.jpg" />
                </div>
                <div class="img2">
                    <img src="~/Images/Anh-vuong.jpg" />
                </div>
            </div>
        </div>
        <div>
            <div class="col-1">
                <img src="~/Images/Banner-whip-2.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model.ProductList)
        {
            <div class="col pt-5">
                <div class="productImg">
                    <img class="img-index" src="@item.Image"/>
                </div>
                <div class="product-content-container">
                    <div class="productContent">
                        <div class="product-name">
                            <p style="text-align:center">@item.ProductName</p>
                        </div>
                        <div class="product-price">
                            <p style="text-align:center">@item.Price</p>
                        </div>
                    </div>
                    <a href="@Url.Action("AddToCart", "Cart", new { @productId = item.ProductId, @strUrl = Request.Url.ToString() })" class="btn btn-primary">Thêm vào giỏ hàng</a>
                </div>
            </div>
        }
    </div>
</div>