@model IEnumerable<MicroWaveFood.Models.Cart>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>
<div class="row">
    <div class="col-md-7">
        <form>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Sản phẩm</th>
                        <th class="centerTH">Giá</th>
                        <th class="centerTH">Số lượng</th>
                        <th colspan="2">Tổng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="cart-form">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="product-name">
                                <div class="product-thumbnail">
                                    <a>
                                        <img src="@item.ProductImage" width="60" height="60" />
                                    </a>
                                </div>
                            </td>
                            <td class="product-details">
                                <div class="cart-item-detail">
                                    <a href="#" class="product-title">@item.ProductName</a>
                                </div>
                                <div>
                                    @Html.ActionLink("Delete", "CartDelete", new { productId = item.ProductId })
                                </div>
                            </td>
                            <td class="product-price">
                                <span>@String.Format("{0:0}", item.ProductPrice)</span>
                                <span>đ</span>
                            </td>
                            <td class="product-quantity">
                                <div class="input-spiner">
                                    <input class="changedInput" type="number" value="@Html.DisplayFor(modelItem => item.Amount)" data-id="@item.ProductId" data-link="@Url.Action("AddToCart", "Cart", new { @productId = item.ProductId, @strUrl = Request.Url.ToString() })" min="0" max="200" step="1" />
                                </div>

                                @*@Html.DisplayFor(modelItem => item.Amount)*@

                            </td>
                            <td>
                                @String.Format("{0:0}", item.Total)
                                <span>đ</span>
                                @*@Html.DisplayFor(modelItem => item.Total)*@
                            </td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
    <div class="col-md-5">
        <div class="cart-collaterals">
            <div class="cart-totals">
                <h2>Cộng giỏ hàng</h2>
                <div class="row" style="justify-content:space-around">
                    <div>Tổng cộng:</div>
                    <div>
                        <span>@ViewBag.PriceSum</span>
                        <span>đ</span>
                    </div>
                </div>
                <div class="container">
                    <a href="@Url.Action("Payment", "Order")" class="btn btn-primary btn-thanh-toan">Thanh toán</a>
                </div>
            </div>  
        </div>
    </div>
</div>


