@model List<MicroWaveFood.ViewModels.SaleViewModel>
@using MicroWaveFood.Models
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<div class="col-sm-7">
    @using (@Html.BeginForm())
    {
        <input type="hidden" name="url" value="@Request.Url.ToString()" />
        <input type="hidden" name="saleId" value="@Model[0].SaleId" />
        <div class="product row">
            @Html.DropDownList("productTypeId", null, htmlAttributes: new { @class = "form-control col producttype", @onchange = "changeFunction();", @saleId = Model[0].SaleId })
            <div class="col">
                <button class="btn btn-primary">Add sale off</button>
            </div>
        </div>
        <input name="url" value="@Request.Url.ToString()" type="hidden" />

        <div>
            <div>
                <h5 class="my-2">Danh sách sản phẩm đang được hưởng khuyến mãi này:</h5>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="row">
                        <h5 class="my-2 col-md-9">@Model[i].ProductName</h5>
                        @*<a class="my-2 col" href="@Url.Action("DeleteSale", "Sales", new { @productId = item.ProductId, @url = Request.Url.ToString()})">Delete</a>*@
                        @Html.CheckBoxFor(a => Model[i].IsSelected)
                        @Html.HiddenFor(a => Model[i].ProductId)
                    </div>
                }
            </div>
        </div>
    }
    @*<form action="/Sales/AddToSale" method="post">*@

    @*</form>*@
</div>

@section scripts
{
    <script>
        function changeFunction() {
            $productTypeid = $('.producttype').val();
            $id = $('.producttype').attr('saleId');
            window.location.href = "/Sales/Details/" + $id + "?productTypeId=" + $productTypeid;
        }
    </script>
}


