@*@model IEnumerable<MicroWaveFood.Models.Product>*@
@model PagedList.IPagedList<MicroWaveFood.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @if (Model.Count() != 0)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ProductType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ProductDescribe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Origin)
            </th>
            <th></th>
        </tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescribe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <img src="@item.Image" width="60" height="60" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
<div class="custom-pagination">
    <br />
    <p class="text-center">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>