@model MicroWaveFood.ViewModels.ProductViewModel

@{
    ViewBag.Title = "ProductDetail";
}

<h2>ProductDetail</h2>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
</html>
<!--Section: Block Content-->
<section class="mb-5">
    <div class="row">
        <div class="col-md-12 a-center">
            <nav class="woocomerce-breadcrumb">
                <a href="@Url.Action("Index","Home")">Trang Chủ</a>
                <i class="material-icons" style="font-size: medium">navigate_next</i>
                <a href="@Url.Action("ListProduct","Products", new {@str = @Model.Product.ProductType.GroupType })">@Model.Product.ProductType.GroupType</a>
                <i class="material-icons" style="font-size: medium">navigate_next</i>
                <a href="@Url.Action("ProductsInProductType","Products", new {@id = @Model.Product.ProductTypeId })">@Model.Product.ProductType.Name</a>
            </nav>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
            <div id="mdb-lightbox-ui">
                <a>
                    <img src="@Model.Product.Image" width="500" height="300"
                         class="img-fluid z-depth-1" />
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h2>@Model.Product.ProductName</h2>
            <p class="mb-2 text-muted text-uppercase small" style="font-weight: lighter">@Model.Product.ProductType.Name</p>
            <h6><span class="mr-1"><strong style="color: red; text-shadow: 2px 2px 3px #ccc; font-size: 25px; font-weight: bold;">@Model.Product.Price đ</strong></span></h6>
            <p class="pt-1">
                @Model.Product.ProductDescribe
            </p>
            <hr />
            <div class="table-responsive mb-2">
                <table>
                    <tbody>
                        <tr>
                            <td class="pl-0 pb-0 w-25">Quantity</td>
                        </tr>
                        <tr>
                            <td class="pl-0">
                                <div class="def-number-input number-input safari_only mb-0">
                                    <input class="changedInput" type="number" min="1" max="200" value="1" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="@Url.Action("Cart","Cart")" class="btn btn-primary btn-md mr-1 mb-2">Mua hàng ngay</a>
            <button type="button" class="button-add-to-cart" style="background-color: orange; height: 35px;" data-product-id="@Model.Product.ProductId">
                <i class="fas fa-shopping-cart pr-2">Thêm vào giỏ hàng</i>
            </button>
        </div>
    </div>
    <div class="product-detail_content" style="padding-top: 20px;">
        <div class="_title" style=" border-bottom-style: double; border-bottom-color: blue; max-width: 900px">
            <h2>
                <i class="material-icons fa fa-comments-o">comment BÌNH LUẬN</i>
            </h2>
        </div>
        <div class="history-detail mt-3" style="max-width: 950px">
            @foreach (var item in Model.Product.Bills)
            {
                if (item.Comment != null)
                {
                    <div class="shadow p-3 mb-5 bg-white rounded" style="margin-left:-15px; margin-right:-15px;">
                        <div class="row">
                            <div class="product-detail-history row col-10 ">
                                <div class="user-icon">
                                    <img src="~/Images/user-icon.jpg" style="width:60px; height: 60px; border-radius: 30px;" />
                                </div>
                                <div class="product-info-history col">
                                    <div class="product-name-history m-2">
                                        <a>@item.Comment.User.Name</a>
                                    </div>
                                    <div class="product-name-history m-2">
                                        <a>@item.Comment.UserComment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <h3 class="product-title">SẢN PHẨM LIÊN QUAN</h3>
    <div class="container">
        <div class="row">
            @foreach (var item in Model.RelatedProducts)
            {
                <div class="col pt-5">
                    <div class="productImg" style="position:relative">
                        @if (item.SaleId != null && item.Sale.From <= DateTime.Now && item.Sale.To >= DateTime.Now)
                        {

                            <div class="sale">

                                <img src="~/Images/discount.png" />
                            </div>
                            <div class="discount">
                                <p style="text-align:right">- @item.Sale.SaleRate%</p>
                            </div>
                        }
                        <img class="img-index" src="@item.Image" />
                    </div>
                    <div class="product-content-container">
                        <div class="productContent">
                            <div>
                                <div class="product-content-container">
                                    <div class="container text-center mt-1">
                                        <a data-product-id="@item.ProductId" class="btn btn-primary button-index">Thêm vào giỏ hàng</a>
                                    </div>
                                    <div class="productContent">
                                        <div class="product-name">
                                            <p style="text-align:center">@item.ProductName</p>
                                        </div>
                                        <div class="product-price">
                                            @if (item.SaleId != null && item.Sale.From <= DateTime.Now && item.Sale.To >= DateTime.Now)
                                            {
                                                <p style="text-align:center;"><del>@item.Price</del> <span style="color:red;">@(item.Price - (item.Price * item.Sale.SaleRate / 100)) đ</span></p>
                                            }
                                            else
                                            {
                                                <p style="text-align:center">@item.Price</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
@section scripts{
    <script>
        $(document).ready(function () {
            // MDB Lightbox Init
            $(function () {
                $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
            });
        });
        $(document).ready(function () {
            $('.button-add-to-cart').on("click", function (e) {
                var id = $(e.target);
                $.post("/api/Cart/Add", { productId: id.attr("data-product-id") })
                    .done(function () {
                        var value = parseInt($(".notify-number").text(), 10) + 1;
                        $('.notify-number').text(value);
                    })
                    .fail(function () {
                        bootbox.alert("Something is wrong!");
                    })
            })
        })
    </script>
}
