@model MicroWaveFood.ViewModels.ProductViewModel

@{
    ViewBag.Title = "ProductDetail";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<h2>Chi tiết sản phẩm</h2>
<!--Section: Block Content-->
<section class="mb-5">
    <div class="row">
        <div class="col-md-12 a-center">
            <a href="@Url.Action("Index","Home")">Trang Chủ</a>
            <i class="material-icons" style="font-size: medium">navigate_next</i>
            <a href="@Url.Action("ListProduct","Products", new {@str = @Model.Product.ProductType.GroupType })">@Model.Product.ProductType.GroupType</a>
            <i class="material-icons" style="font-size: medium">navigate_next</i>
            <a href="@Url.Action("ProductsInProductType","Products", new {@id = @Model.Product.ProductTypeId })">@Model.Product.ProductType.Name</a>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
            <div id="mdb-lightbox-ui">
                <a>
                    <img src="@Model.Product.Image" width="500" height="300"
                         class="img-fluid z-depth-1" />
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h2>@Model.Product.ProductName</h2>
            <p class="mb-2 text-muted text-uppercase small" style="font-weight: lighter">@Model.Product.ProductType.Name</p>
            @if (Model.Product.SaleId != null && Model.Product.Sale.From <= DateTime.Now && Model.Product.Sale.To >= DateTime.Now)
            {
                <del><h6><span class="mr-1"><strong style="color: red; text-shadow: 2px 2px 3px #ccc; font-size: 25px; font-weight: bold;">@Model.Product.Price đ</strong></span></h6></del>
                <h6><span class="mr-1"><strong style="color: red; text-shadow: 2px 2px 3px #ccc; font-size: 25px; font-weight: bold;">@(@Model.Product.Price - Model.Product.Price * Model.Product.Sale.SaleRate / 100) đ</strong></span></h6>
            }
            else
            {
                <h6><span class="mr-1"><strong style="color: red; text-shadow: 2px 2px 3px #ccc; font-size: 25px; font-weight: bold;">@Model.Product.Price đ</strong></span></h6>
            }
            <p class="pt-1">
                @Model.Product.ProductDescribe
            </p>
            <hr />
            <div class="table-responsive mb-2">
                <table>
                    <tbody>
                        <tr>
                            <td class="pl-0 pb-0 w-25">Quantity</td>
                        </tr>
                        <tr>
                            <td class="pl-0">
                                <div class="def-number-input number-input safari_only mb-0 row">
                                    <div class="col-sm-2">
                                        <input class="changedInput" type="number" min="1" max="200" value="1" onchange="inputChanged();"/>
                                    </div>
                                    <div class="col">
                                        @if (Model.Product.SaleId != null && Model.Product.Sale.From <= DateTime.Now && Model.Product.Sale.To >= DateTime.Now)
                                        {
                                            <input type="hidden" id="hidden-price" value="@(@Model.Product.Price - Model.Product.Price * Model.Product.Sale.SaleRate / 100)" />
                                            <p style="color: red; text-shadow: 2px 2px 3px #ccc; font-size: 25px; font-weight: bold; padding-top: 0px;" id="price">@(@Model.Product.Price - Model.Product.Price * Model.Product.Sale.SaleRate / 100) đ</p>
                                        }
                                        else
                                        {
                                            <input type="hidden" id="hidden-price" value="@Model.Product.Price" />
                                            <p style="color: red; text-shadow: 2px 2px 3px #ccc; font-size: 25px; font-weight: bold; padding-top: 0px;" id="price">@Model.Product.Price</p>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary btn-md mr-1 mb-2 button-add-to-cart2" data-product-id="@Model.Product.ProductId">Mua hàng ngay</a>
            <button type="button" class="button-add-to-cart" style="background-color: orange; height: 35px;" data-product-id="@Model.Product.ProductId">
                <i class="fas fa-shopping-cart pr-2">Thêm vào giỏ hàng</i>
            </button>
        </div>
    </div>
    <div class="product-detail_content" style="padding-top: 20px;">
        <div class="_title" style=" border-bottom-style: double; border-bottom-color: blue; max-width: 900px">
            <h2>
                <i class="material-icons fa fa-comments-o">comment BÌNH LUẬN</i>
            </h2>
        </div>
        <div class="history-detail mt-3" style="max-width: 950px">
            @foreach (var item in Model.Product.Bills)
            {
                if (item.Comment != null)
                {
                    <div class="shadow p-3 mb-5 bg-white rounded" style="margin-left:-15px; margin-right:-15px;">
                        <div class="row">
                            <div class="product-detail-history row col-10 ">
                                <div class="user-icon">
                                    <img src="~/Images/user-icon.jpg" style="width:60px; height: 60px; border-radius: 30px;" />
                                </div>
                                <div class="product-info-history col">
                                    <div class="product-name-history m-2">
                                        <a>@item.Comment.User.Name</a>
                                    </div>
                                    <div class="product-name-history m-2">
                                        <a>@item.Comment.UserComment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <h3 class="product-title">SẢN PHẨM LIÊN QUAN</h3>
    <div class="container">
        <div class="row">
            @foreach (var item in Model.RelatedProducts)
            {
                <div class="col pt-5">
                    <div class="productImg" style="position:relative">
                        @if (item.SaleId != null && item.Sale.From <= DateTime.Now && item.Sale.To >= DateTime.Now)
                        {

                            <div class="sale">

                                <img src="~/Images/discount.png" />
                            </div>
                            <div class="discount">
                                <p style="text-align:right">- @item.Sale.SaleRate%</p>
                            </div>
                        }
                        <a href="@Url.Action("ProductDetail", "Products", new { id = item.ProductId})">
                            <img class="img-index" src="@item.Image" />
                        </a>
                    </div>
                    <div class="product-content-container">
                        <div class="productContent">
                            <div>
                                <div class="product-content-container">
                                    <div class="container text-center mt-1">
                                        <a data-product-id="@item.ProductId" class="btn btn-primary button-index">Thêm vào giỏ hàng</a>
                                    </div>
                                    <div class="productContent">
                                        <div class="product-name">
                                            <p style="text-align:center">@item.ProductName</p>
                                        </div>
                                        <div class="product-price">
                                            @if (item.SaleId != null && item.Sale.From <= DateTime.Now && item.Sale.To >= DateTime.Now)
                                            {
                                                <p style="text-align:center;"><del>@item.Price</del> <span style="color:red;">@(item.Price - (item.Price * item.Sale.SaleRate / 100)) đ</span></p>
                                            }
                                            else
                                            {
                                                <p style="text-align:center">@item.Price</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.button-add-to-cart').on("click", function (e) {
                var id = $(this);
                var a = $('.changedInput');
                if (parseInt(a.val(), 10) > 200) {
                    bootbox.alert("Bạn chỉ được chọn tối đa 200 sản phẩm này!");
                }
                else {
                    $.post("/api/AnotherCart", { productId: id.attr("data-product-id"), amount: a.val() })
                        .done(function () {
                            var value = parseInt($(".notify-number").text(), 10) + parseInt(a.val(), 10);
                            $('.notify-number').text(value);
                        })
                        .fail(function () {
                            bootbox.alert("Something is wrong!");
                        })
                }
            });
            $('.button-add-to-cart2').on("click", function (e) {
                var id = $(e.target);
                var amount = $('.changedInput').val();
                window.location.href = "/Cart/AddToCartWithAmount/?productId=" + id.attr("data-product-id") + "&amount=" + amount;
            })
        });
        function inputChanged() {
            var amount = $('.changedInput').val();
            var price = $('#hidden-price').val()
            $('#price').text(parseInt(amount, 10) * parseInt(price, 10) + "đ");
        }
    </script>
}
